.navbar {
    background-color: white;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 0.3);
    height: 90px;
    box-sizing: border-box;
}

.navContainer {
    height: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer h1 {
    /* background: -webkit-linear-gradient(#444f5f8f, #374356); */
    background: -webkit-linear-gradient(#4cfd208f, #374356);

    font-weight: 700;
    font-size: 30px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navLinks {
    display: flex;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
    background: -webkit-linear-gradient(#444f5f8f, #374356);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Adjustments For Mobile view  */
@media screen and (max-width: 768px) {}